# Project config file

# Clone/create project
NEW_PROJECt=true
YII2_VERSION='2.0.11'

# Repository
REPO_TYPE='git'
REPO_URL='https://github.com/reyzeer/tasklife.git'
REPO_USER='reyzeer'
REPO_EMAIL='czarneckizbigniew0@gmail.com'
REPO_PASS='montezuma%40polo15GH'
REPO_DIR='tasklife'

# Repository branch
DEV_BRANCH='master'

# Privilage for Directory - chown
RIGHTS='user:www-data'

# Yii2
ENV='Development'

# Hosts
HOSTS=("frontend.loc" "frontend/web/" "backend.loc" "backend/web/")

# Create DB
DB_CREATE=true
DB_HOST='localhost'
DB_ROOT_PASS=''

# DB
DB_HOST=''
